# BTS Quotes
## J-Hope
{%- for quote in quotes if quote.member == "J-Hope" %}
### {{ quote.id }}
#### {{ quote.quote }}
#### {{ quote.info }}
{%- endfor %}
## Jin
{%- for quote in quotes if quote.member == "Jin" %}
### {{ quote.id }}
#### {{ quote.quote }}
#### {{ quote.info }}
{%- endfor %}
## Jimin
{%- for quote in quotes if quote.member == "Jimin" %}
### {{ quote.id }}
#### {{ quote.quote }}
#### {{ quote.info }}
{%- endfor %}
## Jungkook
{%- for quote in quotes if quote.member == "Jungkook" %}
### {{ quote.id }}
#### {{ quote.quote }}
#### {{ quote.info }}
{%- endfor %}
## RM
{%- for quote in quotes if quote.member == "RM" %}
### {{ quote.id }}
#### {{ quote.quote }}
#### {{ quote.info }}
{%- endfor %}
## Suga
{%- for quote in quotes if quote.member == "Suga" %}
### {{ quote.id }}
#### {{ quote.quote }}
#### {{ quote.info }}
{%- endfor %}
## V
{%- for quote in quotes if quote.member == "V" %}
### {{ quote.id }}
#### {{ quote.quote }}
#### {{ quote.info }}
{%- endfor %}

